<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="jumbotron">
 <h1>Welcome to BuddyME!</h1>
 <a href="#openModal">Open Modal</a>
 <div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Encontro no Sandubão</h2>
      <div class="imagem-evento"></div>
    <p>Teste.</p>
    <p>Participantes: 6</p>
      <button type="button" class="btn btn-default botao-participar" href="#" >Quero participar!</button>
  </div>
 </div>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
