<p id="notice"><%= notice %></p>

<style>
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
</style>

<p>
  <strong>Conteúdo:</strong>
  <%= @post.content %>
</p>

<p>
	<strong>Comentários:</strong>
</p>
<div class="comment-section">
  <%= form_tag create_comment_path, method: "post" do %>
    <%= hidden_field_tag "id", @post.id %>
      <div>
        <%= text_area_tag :comment %>
      </div>
      <button class="button" submit_tag>Comentar</button>
    <% end %>
</div>
<div class="comment_list">
  <% @comments.each do |comment| %>
    <%= comment.comment %> <br>
      <%= comment.user.email %> <br>
        <br>
    <% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
