<!DOCTYPE html>
<html>
<head>
  <title>Buddy ME!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

  </style>

</head>
<body>

   <%= render 'layouts/navbar' %>
               <% if user_signed_in? %>
                Logado com: <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% end %>
  <%= yield %>

</body>
</html>